{{#if name}}

{{!-- {{heading 3}} {{#ifNamedAnchors}}<a id="{{anchor}}" name="{{this.anchor}}"></a> {{/ifNamedAnchors}}{{{ memberTitle }}} --}}
{{heading 3}} {{{ name }}} {{#each flags}}<Badge text="{{this}}" vertical="middle"/>{{/each}}

{{/if}}

{{#if signatures}}

{{#each signatures}}

{{> member.signature }}

{{/each}}

{{else}}

{{#if hasGetterOrSetter}}

{{> member.getterSetter}}

{{else}}

{{> member.declaration}}

{{/if}}

{{/if}}

{{#each groups}}

{{#each children}}

{{#unless hasOwnDocument}}

{{#ifIsLiteralType true}}

{{> member.declaration}}

{{{literal}}}

{{/ifIsLiteralType}}

{{#ifIsLiteralType false}}

{{> member hideHr=true}}

{{/ifIsLiteralType}}

{{/unless}}

{{/each}}

{{/each}}

{{#unless @last}}
{{#unless hideHr}}
___
{{/unless}}
{{/unless}}
